commands:
    01-clean-old-app-logs:
        command: find /var/log/eb-docker/containers/eb-current-app -maxdepth 1 -name "*.log*" -type f -mtime +2 -exec rm -f {} \;
    01-clean-old-rotated-app-logs:
        command: find /var/log/eb-docker/containers/eb-current-app/rotated -maxdepth 1 -name "*.log*" -type f -mtime +2 -exec rm -f {} \;